---
import Hero from "@pages/Home/sections/01-Hero.astro";
import About from "@pages/Home/sections/02-About.astro";
import Paths from "@pages/Home/sections/03-Paths.astro";
import CTA from "@pages/Home/sections/04-CTA.astro";
---

<main
  class="flex flex-col bg-[url(/src/assets/background.png)] bg-local bg-top bg-cover bg-no-repeat min-h-screen"
>
  {/* Hero Section */}
  <Hero />

  {/* About Project Section */}
  <About />

  {/* Axes Section */}
  <Paths />

  {/* Actions Section */}
  <!-- <Actions /> -->

  {/* Collaborators Section */}
  <!-- <Collaborations /> -->

  {/* CTA Section */}
  <CTA />
</main>
