---
import Layout from "@layouts/Layout.astro";
import Hero from "@pages/Home/sections/01-Hero.astro";
import About from "@pages/Home/sections/02-About.astro";
import Axes from "@pages/Home/sections/03-Axes.astro";
import Actions from "@pages/Home/sections/04-Actions.astro";
import Collaborations from "@pages/Home/sections/05-Collaborations.astro";
import CTA from "@pages/Home/sections/06-CTA.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="flex flex-col">
    {/* Hero Section */}
    <Hero />

    {/* About Project Section */}
    <About />

    {/* Axes Section */}
    <Axes />

    {/* Actions Section */}
    <Actions />

    {/* Collaborators Section */}
    <Collaborations />

    {/* CTA Section */}
    <CTA />
  </main>
</Layout>
