---
import Layout from "@layouts/Layout.astro";
import Hero from "@pages/Home/sections/01-Hero.astro";
import About from "@pages/Home/sections/02-About.astro";
import Paths from "@pages/Home/sections/03-Paths.astro";
import CTA from "@pages/Home/sections/06-CTA.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main
    class="flex flex-col bg-[url(/src/assets/background.png)] bg-cover bg-no-repeat bg-center min-h-screen"
  >
    {/* Navbar */}
    {/* Hero Section */}
    <Hero />

    {/* About Project Section */}
    <About />

    {/* Axes Section */}
    <Paths />

    {/* Actions Section */}
    <!-- <Actions /> -->

    {/* Collaborators Section */}
    <!-- <Collaborations /> -->

    {/* CTA Section */}
    <CTA />
  </main>
</Layout>
