---
import PathLayout from "@layouts/PathLayout.astro";
import AudioGuide from "@components/AudioGuide.astro";
import { PATH_1 } from "@consts/PATHS";


---

<PathLayout {...PATH_1}>
  <div class="w-10/12 mx-auto mb-16">
    <AudioGuide
      src=""
      chip="Parada 1"
      title="El gran desafio: Naturaleza vs Influencia Antropicas"
      description="Nos encontramos en la Reserva Natural Especial de las Dunas de Maspalomas (C-7) y Zona Especial de Conservación Dunas de Maspalomas (ES7010007) un espacio ubicado en el sur de la isla de Gran Canaria, en la región macaronésica, cerca de la costa africana. La principal característica de este paraje natural es la presencia de dunas áridas. Se trata de un sistema móvil, cuya formación comienza a partir de las corrientes marinas, que depositan la arena en la orilla. Una vez que el sedimento se ha secado, el viento lo mueve hacia el interior."
      audio=`Es bien sabido que la actividad humana ha impactado negativamente en los ecosistemas de todo el mundo generando desequilibrios en la naturaleza que desencadenan una serie de consecuencias. La Reserva Natural Especial Dunas de Maspalomas no es una excepción. Si llevamos nuestra vista hacia el Norte, observamos casas y apartamentos construidos sobre la terraza sedimentaria del Inglés. De manera natural, esta zona sería muy diferente; un arenal de dunas móviles como el que encontramos en el Mirador Dunas de Maspalomas. En el pasado, la arena transportada por el viento llegaba a esta localización desde Playa del Inglés, de modo que existía una aportación de arena que estaba en equilibrio con el crecimiento de la vegetación. La presencia de inmuebles en esta terraza hace que el viento choque con estos edificios modificándose su dinámica, de modo que no consigue llegar hasta la zona donde nos encontramos. Así, en lugar de dunas móviles, observamos dunas estabilizadas. A esta perturbación hay que sumarle la mayor disponibilidad de agua existente en este punto debido a la presencia del campo de golf, que provoca que la vegetación tenga un mayor crecimiento y ayude también a estabilizar de manera indirecta la arena. Se prevé que, en el futuro, esta zona tenga un sobrecrecimiento de vegetación y que, por tanto, el paisaje siga cambiando. 
No obstante, se vienen realizando actuaciones por parte del Órgano gestor en colaboración con distintas instituciones, con el fin de ralentizar la pérdida de arena del sistema para poder seguir disfrutando de este paraje natural.
`
    />
  </div>

  <div class="w-10/12 mx-auto mb-16 flex justify-between items-center">
    <a
      href="/"
      class="flex flex-col items-center gap-2 text-2xl font-semibold text-gray-800 hover:text-gray-600"
    >
      <svg
        width="47"
        height="55"
        viewBox="0 0 47 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M25.5841 52.9599C24.8989 54.5959 22.5812 54.5966 21.895 52.961L0.882686 2.87718C0.329848 1.55947 1.29733 0.103882 2.72632 0.103431L44.7194 0.0901689C46.1484 0.0897177 47.1168 1.54469 46.5648 2.86275L25.5841 52.9599Z"
          fill="#FD2626"></path>
        <text x="17" y="25" fill="white">0</text>
      </svg>
    </a>
    <svg
      viewBox="0 0 190 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="w-full"
    >
      <path
        class="w-full"
        d="M0.5 21.5003C0.5 21.5003 44 15.5 50 27.0003C56 38.5006 85 27.0003 125.5 7.50029C166 -11.9997 189.5 21.5003 189.5 21.5003"
        stroke="#AFAFAF"
        stroke-linecap="round"
        stroke-dasharray="2 2"></path>
    </svg>

    <div
      class="flex flex-col items-center gap-2 text-2xl font-semibold text-gray-800 hover:text-gray-600"
    >
      <svg
        width="47"
        height="55"
        viewBox="0 0 47 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M25.5841 52.9599C24.8989 54.5959 22.5812 54.5966 21.895 52.961L0.882686 2.87718C0.329848 1.55947 1.29733 0.103882 2.72632 0.103431L44.7194 0.0901689C46.1484 0.0897177 47.1168 1.54469 46.5648 2.86275L25.5841 52.9599Z"
          fill="#FD2626"></path>
        <text x="17" y="25" fill="white">1</text>
      </svg>
    </div>
    <svg
      viewBox="0 0 190 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="w-full"
    >
      <path
        d="M0.5 21.5003C0.5 21.5003 44 15.5 50 27.0003C56 38.5006 85 27.0003 125.5 7.50029C166 -11.9997 189.5 21.5003 189.5 21.5003"
        stroke="#AFAFAF"
        stroke-linecap="round"
        stroke-dasharray="2 2"></path>
    </svg>
    <a
      href="/Sendero/1/audio/2"
      class="flex flex-col items-center gap-2 text-2xl font-semibold text-gray-800 hover:text-gray-600"
    >
      <svg
        width="47"
        height="55"
        viewBox="0 0 47 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M25.5841 52.9599C24.8989 54.5959 22.5812 54.5966 21.895 52.961L0.882686 2.87718C0.329848 1.55947 1.29733 0.103882 2.72632 0.103431L44.7194 0.0901689C46.1484 0.0897177 47.1168 1.54469 46.5648 2.86275L25.5841 52.9599Z"
          fill="#FD2626"></path>
        <text x="17" y="25" fill="white">2</text>
      </svg>
    </a>
  </div>
</PathLayout>
