---
import Logo from "@assets/logo.svg";
import { ChevronDown } from "@lucide/astro";
---

<header
  class="sticky top-0 z-50 w-full shadow-md bg-white/95 backdrop-blur supports-[backdrop-filter]:bg-white/60 justify-between transition-colors duration-300 ease-in-out"
>
  <div class="container flex h-16 items-center justify-between p-4">
    <div class="flex items-center gap-2 4">
      <Logo class="h-8 md:h-12" />
    </div>
    <nav class="hidden md:flex items-center gap-6">
      <a
        href="#proyecto"
        class="text-sm font-medium hover:text-amber-600 transition-colors"
      >
        El Proyecto
      </a>
      <a
        href="#ejes"
        class="text-sm font-medium hover:text-amber-600 transition-colors"
      >
        Ejes de Actuación
      </a>
      <a
        href="#actuaciones"
        class="text-sm font-medium hover:text-amber-600 transition-colors"
      >
        Actuaciones
      </a>
      <a
        href="#contacto"
        class="text-sm font-medium hover:text-amber-600 transition-colors"
      >
        Contacto
      </a>
    </nav>
    <div class="flex items-center gap-4">
      <button
        class="hidden md:flex bg-amber-500 hover:bg-amber-600 text-white border-0 rounded-md px-4 py-2 text-sm font-medium transition-colors"
      >
        Más información
      </button>
      <button class="md:hidden">
        <ChevronDown class="h-5 w-5" />
        <span class="sr-only">Menu</span>
      </button>
    </div>
  </div>
</header>
