---
import { ArrowRight } from "@lucide/astro";
---

<section class="relative overflow-hidden pt-10 pb-20">
  <div
    class="container relative flex flex-col items-center text-center mx-auto"
  >
    <h1
      class="text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl lg:text-7xl mb-6"
    >
      <span
        class="overflow-hidden flex flex-col md:flex-row justify-center items-center"
      >
        <span class="p-2 pr-4 md:mb-6"> Transformando</span>
        <svg
          class="w-80 md:w-96"
          viewBox="0 0 4303 1197"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4036.25 690.86C4058.04 704.09 4103.18 718.88 4138.21 718.88C4173.24 718.88 4188.8 707.21 4188.8 687.75C4188.8 668.29 4177.13 658.17 4133.54 643.39C4054.15 616.93 4023.8 574.12 4024.58 528.98C4024.58 457.38 4085.29 403.67 4179.46 403.67C4223.82 403.67 4262.74 414.57 4286.09 426.24L4265.85 507.96C4248.73 498.62 4215.26 486.17 4183.35 486.17C4154.55 486.17 4138.21 497.84 4138.21 516.52C4138.21 535.2 4153 544.54 4199.7 560.88C4272.08 585.79 4301.66 623.14 4302.44 678.4C4302.44 750 4247.18 802.15 4138.22 802.15C4088.41 802.15 4044.05 790.48 4015.25 774.91L4036.26 690.85L4036.25 690.86Z"
            fill="#272828"></path>
          <path
            d="M3942.85 701.76C3942.85 737.56 3944.41 772.59 3949.08 793.6H3842.45L3835.45 755.46H3833.11C3808.2 785.81 3769.29 802.16 3724.15 802.16C3647.1 802.16 3601.18 746.12 3601.18 685.41C3601.18 586.57 3689.91 539.87 3824.55 539.87V535.2C3824.55 514.19 3813.65 485.39 3755.28 485.39C3716.36 485.39 3675.11 498.62 3650.21 514.19L3628.42 437.92C3654.88 423.13 3707.03 403.67 3776.3 403.67C3903.16 403.67 3942.86 478.39 3942.86 568.67V701.76H3942.85ZM3828.44 613.81C3766.18 613.81 3717.92 628.6 3717.92 673.74C3717.92 704.09 3738.16 718.88 3764.62 718.88C3793.42 718.88 3818.32 699.42 3826.11 675.3C3827.67 669.07 3828.44 662.07 3828.44 655.06V613.81Z"
            fill="#272828"></path>
          <path
            d="M2883.59 601.02C2883.59 740.34 2784.75 804.16 2682.79 804.16C2571.49 804.16 2485.88 731 2485.88 608.03C2485.88 485.06 2566.82 405.67 2689.8 405.67C2805.77 405.67 2883.6 485.84 2883.6 601.02H2883.59ZM2608.07 604.91C2608.07 670.29 2635.31 719.32 2685.9 719.32C2732.6 719.32 2761.4 673.4 2761.4 604.13C2761.4 548.09 2739.61 490.5 2685.9 490.5C2632.19 490.5 2608.07 548.87 2608.07 604.91Z"
            fill="#272828"></path>
          <path d="M2293.65 243H2411.95V795.59H2293.65V243Z" fill="#272828"
          ></path>
          <path
            d="M2199.47 701.76C2199.47 737.56 2201.03 772.59 2205.7 793.6H2099.07L2092.07 755.46H2089.73C2064.82 785.81 2025.91 802.16 1980.77 802.16C1903.72 802.16 1857.8 746.12 1857.8 685.41C1857.8 586.57 1946.53 539.87 2081.17 539.87V535.2C2081.17 514.19 2070.27 485.39 2011.9 485.39C1972.98 485.39 1931.73 498.62 1906.83 514.19L1885.04 437.92C1911.5 423.13 1963.65 403.67 2032.92 403.67C2159.78 403.67 2199.48 478.39 2199.48 568.67V701.76H2199.47ZM2085.06 613.81C2022.8 613.81 1974.54 628.6 1974.54 673.74C1974.54 704.09 1994.78 718.88 2021.24 718.88C2050.04 718.88 2074.94 699.42 2082.73 675.3C2084.29 669.07 2085.06 662.07 2085.06 655.06V613.81Z"
            fill="#272828"></path>
          <path
            d="M1417.28 540.65C1417.28 490.84 1415.72 448.81 1414.17 413.01H1516.91L1522.36 465.93H1523.92C1551.94 426.24 1595.52 404.44 1650.78 404.44C1734.06 404.44 1808.78 476.82 1808.78 598.24C1808.78 736.78 1720.83 802.16 1636 802.16C1590.08 802.16 1554.28 783.48 1537.16 758.58H1535.6V947.71H1417.3V540.66L1417.28 540.65ZM1535.58 630.15C1535.58 639.49 1536.36 647.27 1537.91 655.06C1545.69 686.97 1572.93 711.1 1607.18 711.1C1658.55 711.1 1688.9 668.29 1688.9 603.69C1688.9 542.98 1661.66 497.06 1608.73 497.06C1575.26 497.06 1545.69 521.97 1537.9 556.99C1536.34 563.22 1535.57 571 1535.57 578V630.15H1535.58Z"
            fill="#272828"></path>
          <path
            d="M1078.73 690.86C1100.52 704.09 1145.66 718.88 1180.69 718.88C1215.72 718.88 1231.28 707.21 1231.28 687.75C1231.28 668.29 1219.61 658.17 1176.02 643.39C1096.63 616.93 1066.28 574.12 1067.06 528.98C1067.06 457.38 1127.77 403.67 1221.94 403.67C1266.3 403.67 1305.22 414.57 1328.57 426.24L1308.33 507.96C1291.21 498.62 1257.74 486.17 1225.83 486.17C1197.03 486.17 1180.69 497.84 1180.69 516.52C1180.69 535.2 1195.48 544.54 1242.18 560.88C1314.56 585.79 1344.14 623.14 1344.92 678.4C1344.92 750 1289.66 802.15 1180.7 802.15C1130.89 802.15 1086.53 790.48 1057.73 774.91L1078.74 690.85L1078.73 690.86Z"
            fill="#272828"></path>
          <path
            d="M985.33 701.76C985.33 737.56 986.89 772.59 991.56 793.6H884.93L877.93 755.46H875.59C850.68 785.81 811.77 802.16 766.63 802.16C689.58 802.16 643.66 746.12 643.66 685.41C643.66 586.57 732.39 539.87 867.03 539.87V535.2C867.03 514.19 856.13 485.39 797.76 485.39C758.84 485.39 717.59 498.62 692.69 514.19L670.9 437.92C697.36 423.13 749.51 403.67 818.78 403.67C945.64 403.67 985.34 478.39 985.34 568.67V701.76H985.33ZM870.92 613.81C808.66 613.81 760.4 628.6 760.4 673.74C760.4 704.09 780.64 718.88 807.1 718.88C835.9 718.88 860.8 699.42 868.59 675.3C870.15 669.07 870.92 662.07 870.92 655.06V613.81Z"
            fill="#272828"></path>
          <path
            d="M455.32 592.79C452.99 529.75 450.65 453.47 450.65 377.2H449.09C431.97 444.13 410.17 518.85 389.94 580.34L326.12 785.03H233.5L177.46 582.67C160.34 520.41 143.21 445.69 129.98 377.2H128.42C126.09 448.03 122.97 528.97 119.86 594.35L109.74 793.6H0L33.47 269.02H191.47L242.84 444.14C259.96 504.85 275.53 570.22 287.2 631.71H290.31C304.32 571 322.22 501.73 340.12 443.36L395.38 269.02H551.04L579.06 793.6H463.87L455.31 592.8L455.32 592.79Z"
            fill="#272828"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1029.12 922.703C1175.86 690.342 1458.24 623.776 1849.52 838.811C2574.95 1237.43 2778.87 392.275 3162.71 148.275C3646.47 -159.245 4262.57 9.23077 4144.2 675.64C4138.38 708.458 4091.96 712.69 4081.58 681.002C3964.32 323.085 3616.52 257.182 3272.86 469.875C2926.66 684.134 2810.39 1568.15 1848.33 1021.07C1478.01 810.466 1246.55 844.003 1075.76 965.495C1047.09 985.897 1010.34 952.458 1029.14 922.703H1029.12Z"
            fill="#004A92"></path>
          <g style="mix-blend-mode:soft-light">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M3273.18 469.432C2927.03 683.821 2810.77 1568.37 1848.84 1020.96C1478.58 810.23 1247.15 843.787 1076.38 965.354C1063.57 974.488 1049.35 972.512 1039 965.241C1357.51 696.993 1595.45 842.178 2070.68 1026.88C2546.05 1211.64 2702.64 898.112 2820.08 769.275C2937.52 640.438 3250.58 97.7861 3677.14 164.689C4103.7 231.593 4081.81 680.687 4081.81 680.687C3964.57 322.552 3616.81 256.609 3273.2 469.432H3273.18Z"
              fill="white"></path>
          </g>
          <path
            d="M2956.75 534.42C2956.75 486.94 2955.19 447.25 2953.64 413.01H3054.04L3058.71 464.38H3061.04C3077.38 439.47 3111.63 403.67 3176.23 403.67C3226.04 403.67 3264.18 429.35 3280.52 469.05H3282.08C3296.87 448.81 3313.21 433.25 3331.89 422.35C3352.9 410.68 3376.25 403.67 3404.27 403.67C3477.43 403.67 3532.69 455.04 3532.69 569.45V793.6H3417.5V586.57C3417.5 531.31 3399.6 499.4 3361.46 499.4C3333.44 499.4 3314.76 518.08 3306.2 540.65C3303.87 549.21 3302.31 560.89 3302.31 571V793.59H3187.12V579.56C3187.12 532.08 3170 499.39 3131.86 499.39C3101.51 499.39 3083.61 522.74 3076.6 541.42C3072.71 550.76 3071.93 561.66 3071.93 571.77V793.59H2956.74V534.42H2956.75Z"
            fill="#272828"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3509.01 601.06C3900.19 522.701 4029.75 878.131 3925.37 1117.84C3912 1148.56 3868.15 1142.26 3863.52 1109.09C3842.96 961.801 3712.43 807.186 3530.16 806.692C3332.6 806.155 3145.44 1064.28 2922.72 1186.63C2888.71 1205.31 2856.11 1159.64 2885.35 1134.11C3104.11 943.129 3259.38 651.059 3509.03 601.06H3509.01Z"
            fill="#004A92"></path>
        </svg>
      </span> hacia un futuro sostenible
    </h1>
    <p class="max-w-[800px] text-muted-foreground md:text-xl mb-8 px-16">
      Una iniciativa para conocer los secretos de los senderos de Maspalomas y
      adentrarse en nuevas experiencias.
    </p>
    <div class="flex flex-col sm:flex-row gap-4">
      <a
        class="bg-amber-500 hover:bg-amber-600 text-white border rounded-md px-4 py-2 text-base font-medium transition-colors flex items-center justify-center cursor-pointer"
        href="#senderos"
      >
        Conoce las rutas
        <ArrowRight class="ml-2 h-4 w-4" />
      </a>
    </div>
    <!-- <div class="mt-16 w-full max-w-5xl">
      <Placeholder class="w-full" />
    </div> -->
  </div>
</section>
