---
import Chip from "@components/Chip.astro";
import Card from "@components/Card.astro";
import { Leaf, LightbulbIcon, TreePalm } from "@lucide/astro";
---

<section id="senderos" class="w-10/12 mx-auto">
  <div class="w-full">
    <div class="text-center mb-16">
      <Chip> Senderos </Chip>
      <h2
        class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-4"
      >
        Las tres aventuras de Maspalomas
      </h2>
      <p class="max-w-[700px] mx-auto text-muted-foreground">
        Descubre las tres aventuras que te llevarán a explorar la belleza y su
        diversidad de la Reserva Natural Especial de las Dunas de Maspalomas.
      </p>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mx-auto p-8"
    >
      <Card
        colors="border-t-amber-500"
        pathNumber="1"
        title="Dunas de biodiversidad"
        description="Esta ruta te llevará a descubrir la influencia de la actividad humana en el entorno natural de Maspalomas."
      >
        <Leaf class="text-amber-500 h-10 w-10" slot="icon" />
        <ul slot="list" class="text-sm text-muted-foreground mx-8 mb-4">
          <li>Distancia 2,3 km</li>
          <li>Conecta el parque reserva Tony Gallardo con el Mirador Dunas</li>
          <li>
            Atraviesa la zona de dunas estabilizadas donde se observan baleras,
            tarajales y ahulagas.
          </li>
        </ul>
        <a
          slot="link"
          href="/Sendero/1"
          class="text-sm text-muted-foreground bg-amber-500 p-2 rounded-lg text-white"
          >Adentrate en esta aventura</a
        >
      </Card>
      <Card
        colors="border-t-yellow-500"
        pathNumber="2"
        title="La vida oculta de las dunas de Maspalomas"
        description="Explora la fauna entre las dunas y descubre la vida que se esconde en este ecosistema único."
      >
        <LightbulbIcon class="text-yellow-500 h-10 w-10" slot="icon" />
        <ul slot="list" class="text-sm text-muted-foreground mx-8 mb-4">
          <li>Distancia 1,7 km</li>
          <li>
            Se puede contemplar numerosas dunas en distinto estado de evolución
            asociadas a tarajales.
          </li>
          <li></li>
        </ul>
        <a
          slot="link"
          href="#"
          class="text-sm text-muted-foreground bg-yellow-500 p-2 rounded-lg text-white"
          >Adentrate en esta aventura</a
        >
      </Card>
      <Card
        colors="border-t-blue-500"
        pathNumber="3"
        title="Oasis de vida"
        description="Sumérgete en la belleza de la flora y fauna de Maspalomas, un oasis de vida en el desierto."
      >
        <TreePalm class="text-blue-500 h-10 w-10" slot="icon" />
        <ul slot="list" class="text-sm text-muted-foreground mx-8 mb-4">
          <li>
            3A) Distancia de 2,3 km. Sale del Mirador Dunas y llega a la Charca
            de Maspalomas, lugar de observación de aves.
          </li>
          <li>
            3B) Distancia de 1,5 km. Rodea la zona de máxima protección y
            conecta con el parque reserva Tony Gallardo.
          </li>
          <li></li>
        </ul>
        <a
          slot="link"
          href="#"
          class="text-sm text-muted-foreground bg-blue-500 p-2 rounded-lg text-white"
          >Adentrate en esta aventura</a
        >
      </Card>
    </div>
  </div>
</section>
