---
import { ArrowRight } from "@lucide/astro";
---

<section id="contacto" class="py-20 container mx-auto w-10/12 p-8">
  <div
    class="rounded-xl bg-gradient-to-r from-amber-500 to-amber-600 p-8 md:p-16 text-white text-center"
  >
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-4"
    >
      ¿Quieres saber más sobre estos senderos?
    </h2>
    <p class="max-w-[700px] mx-auto mb-8 opacity-90">
      Tenemos recursos adicionales para complementar estas experiencias.
    </p>
    <div class="flex flex-col sm:flex-row justify-center gap-4">
      <a
        target="_blank"
        href="./impula-maspalomas/Folleto-senderos.pdf"
        class="bg-white text-amber-600 hover:bg-white/90 px-4 py-2 rounded-md text-base font-medium transition-colors flex items-center justify-center cursor-pointer"
      >
        Descarga el Folleto <ArrowRight class="ml-2 h-4 w-4" />
      </a>
      <!-- <button
        class="bg-blue-600 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-base font-medium transition-colors flex items-center justify-center cursor-pointer"
      >
        Contactar ahora <ArrowRight class="ml-2 h-4 w-4" />
      </button> -->
    </div>
  </div>
</section>
