---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Impulsa Masdunas</title>
  </head>
  <body class="flex min-h-screen flex-col w-full">
    <img src="/src/assets/header-masdunas.png" class="w-full" alt="" />
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
