---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import { ClientRouter } from "astro:transitions";

import "@styles/global.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Impulsa Masdunas</title>
    <ClientRouter />
  </head>
  <body class="flex min-h-screen flex-col w-full">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
