---
import Layout from "@layouts/Layout.astro";

const { src, title, description } = Astro.props;
---

<Layout>
  <main
    class="flex flex-col bg-[url(/impulsa-maspalomas/background.png)] bg-cover bg-no-repeat bg-center min-h-screen"
  >
    <div class="w-10/12 mx-auto">
      <div class="mb-16">
        <h2
          class="text-center text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-4"
        >
          {title}
        </h2>
        <img
          src={src}
          alt={title}
          class="rounded-lg w-1/2 mx-auto mb-4 shadow-lg"
          loading="lazy"
          decoding="async"
          width="600"
          height="400"
          fetchpriority="high"
          sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 50vw"
        />
        <p class="max-w-[700px] mx-auto text-muted-foreground">
          {description}
        </p>
      </div>
    </div>
    <div class="w-1/2 mx-auto mb-16">
      <div class="flex justify-between items-center mt-4">
        <img src="/impulsa-maspalomas/senderistas.png" alt="" class="w-auto h-24" />
        <div
          class="flex items-center gap-2 bg-white p-4 rounded-lg shadow-md text-2xl"
        >
          <ul>
            <li>Recorido Lineal</li>
            <li>Distancia de 2.3 km</li>
            <li>Fácil recorido</li>
          </ul>
        </div>
      </div>
    </div>

    <slot />
  </main>
</Layout>
